@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F4F1EA;
  color: #1E2022;
}

@theme {
  --color-primary: #0B3D2E;
  --color-secondary: #1F3A5F;
  --color-accent: #2BBBAD;
  --color-neutral-warm: #F4F1EA;
  --color-neutral-dark: #1E2022;
}
